<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3 class="text-success">Active Exams</h3>
      <% @exams.each do |exam| %>
        <% if exam.active? && !exam.cancelled && exam.approved? %>
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title"><%= exam.title %></h5>
              <%= link_to 'Take Exam', take_student_exam_path(exam), class: 'btn btn-primary' %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="col-md-4">
      <h3 class="text-warning">Upcoming Exams</h3>
      <% @exams.each do |exam| %>
        <% if exam.start_time > Time.now && !exam.cancelled && exam.approved? %>
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title"><%= exam.title %></h5>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="col-md-4">
      <h3 class="text-danger">Missed Exams</h3>
      <% @exams.each do |exam| %>
        <% if exam.end_time < Time.now && !exam.cancelled && exam.approved? %>
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title"><%= exam.title %></h5>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
