<div class="container mt-10">
  <h3>All Exams</h3>
  <div class="row">
    <% @exams.each do |exam| %>
      <div class="col-md-4 mb-4">
        <%= render 'admin/exams/teacher_admin_exam', exam: exam %>
      </div>
    <% end %>
  </div>
</div>